@media (min-width:360px) {
    .container,
    .footer-head {
        width:100%;
        font-size: 1.3rem;
        margin:auto auto;
    }
    .dropdown {
        width:100%;
        font-size:24px;
        padding:10px;
    }
    .dropdown select {
        background-color: #04094d85;
    }
    .dropdown p,
    .dropdown select {
        flex:1;
    }
    .map {
        width:100%;
    }
    .stats-province {
        width:100%;
    }
    .stats-region {
       margin-top:16px;
       width:100%;
   }
    .stats-province h2,
    .stats-region h2 {
        width:100%;
        padding:5px;
    }
   .stats-province > div,
   .stats-region > div {
       flex:1;
   }
   .stats-province div > h3,
   .stats-province span,
   .stats-region div > h3,
   .stats-region span {
       width:100%;
       font-size:0.8rem;
       padding:5px;
   }
   
}

@media (min-width:640px) {
    header h1 {
        font-size:24px;
    }
    .container,
    .footer-head {
        margin:10px auto 20px auto;
        width:95%;
        transition:width 2s ease-out;
    }
    .map {
        margin-top:30px;
    }
    .dropdown {
        font-size:1.2rem;
    }
    .stats-province,
    .stats-region {
        flex:1;
        margin-top:36px;
    }
    .stats-region {
        margin-left:10px;
    }
    .stats-province div > h3,
    .stats-region div > h3 {
        font-size:16px;
    }

}

#info {
    padding-top: 10px;
    
}
.date {
    padding-left: 4px;
}


* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

:root {
    --background--color:#04094D;
}

body {
    color: white;
    background: var(--background--color);
    position:relative;
    font-family: 'Roboto Condensed', sans-serif;
}
    
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 55vh; 
    overflow: hidden;
    background-size: cover !important;
    background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url(../images/background.jpg);
  }
  h1 {
    font-style: normal;
    font-weight: 900;
    color: #eee;
    font-size: 11vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 4px 8px 16px rgba(0, 0, 0, 0.8);
    margin-bottom: 87px;
  }
      
        
  button {
    background: #098191;
    transition: background ease .25s;
    border-radius: 50px;
    display: inline-block;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: white;
  }
  button:hover {
    background: lightblue;
  }
  button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

/* background */
section > div {
    border-radius: 100%;
    background-image: linear-gradient(to bottom, #858dff1c,#a3a9ff13),
    linear-gradient(to bottom,#8189ff59,#8189ff0e);
    position:absolute;
    z-index:-1;
    font-size: 24px;
}
.circle1{
    width:120px;
    height:120px;
    top:130px;
    left:2vw;
    filter:blur(5px);
}
.circle2{
    top:-2vh;
    left:236px;
    filter:blur(11px);
}
.circle3{
    top:0vh;
    left:80vw;
    width:140px;
    height:140px;
    filter: blur(3px);
}
.circle4{
    top:559px;
    left:54px;
    width:140px;
    height:140px;
    filter: blur(3px);
}
.circle5{
    top:520px;
    left:202px;
    width:120px;
    height:120px;
    filter: blur(8px);
}
.circle6{
    top:371px;
    left:430px;
    width:100px;
    height:100px;
    filter: blur(3px);
}
.circle7{
    top:691px;
    left:-14px;
    width:90px;
    height:90px;
    filter: blur(3px);
}
.circle8{
    top:50vh;
    left:80vw;
    width:110px;
    height:110px;
    filter: blur(3px);
}

.footer-div {
    font-size: 1.5rem;
}

footer h3 {
    font-size: 1.8rem;
    padding-bottom: 20px;
}

.fa-github-square {
    padding-left: 10px;
    
}

/* glass effect */
/* padding from tailwind is causing clopping issues */
header,
.dropdown,
.map,
.stats-title,
.region-title,
.card-title,
.total-recoveries,
.total-vaccinations,
.total-vaccinated,
.total-cases,
.active-cases,
.total-regionRecoveries,
.footer-head {
    font-size: 24px;
    border:2px solid;
    border-image-source:linear-gradient(to bottom, #3a408f57,#7d85fd52);
    border-image-slice:2;
    background-image: linear-gradient(to bottom, #858dff1c,#a3a9ff13),
    linear-gradient(to bottom,#8189ff0c,#8189ff0e);
    box-shadow:0px 5px 11px rgba(129, 138, 255, 0.18);
    backdrop-filter: blur(15px);
    border-radius:5px;
    font-weight: 900;
}